POSTGRES_DB=mediamtx_central
POSTGRES_USER=mediamtx
POSTGRES_PASSWORD=central_dev_pass
SECRET_KEY=central-dev-secret-key-not-for-prod
ALLOWED_HOSTS=stsecurity.streetflow.cl,localhost,127.0.0.1
DEBUG=False
CENTRAL_MODE=1
